<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restablecer contraseña</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family: Arial, sans-serif;">
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; background-color: #ffffff; margin: 0; padding: 0;">
    <h1 style="color: #000000;">Restablecer contraseña</h1>
    <p style="color: #000000;">Ha solicitado restablecer su contraseña. Para hacerlo, haga clic en el siguiente enlace:</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/ZKGf57f/Restablecimiento-Template.png" alt="Restablecimiento-Template" border="0"></a>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <button style="background-color: #000000; color: #ffffff; border: none; padding: 10px 20px; text-decoration: none; margin: 4px 2px; border-radius: 5px; cursor: pointer;"><a th:href="@{'http://localhost:5173/password-reset/' + ${token}}" style="color: #ffffff; text-decoration: none;">Restablecer contraseña</a></button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>